<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitrah</title>
    <link rel="stylesheet" href="~/css/site2.css" />
    
</head>
<body class="main-body">
    <partial name = "_header"></partial>
    <partial name = "_nav"></partial>
    <main>
            @RenderBody()
    </main>
    
    <div class="modal-layer" id="soon">
</div>
</body>
</html>