<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitrah-Login</title>
    <link rel="stylesheet" href="../../css/site2.css" />
</head>
<body class="authentication-body">
    @RenderBody()
</body>
</html>